@tailwind base;
@tailwind components;
@tailwind utilities;

.chevron {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid black; /* Default color for light mode */
  margin-right: 8px;
  transition: transform 0.2s ease;
}

/* Dark mode color change */
@media (prefers-color-scheme: dark) {
  .chevron {
    border-left-color: white; /* Color for dark mode */
  }
}

details[open] .chevron {
  transform: rotate(90deg);
}