@tailwind base;
@tailwind components;
@tailwind utilities;

.chevron {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid ; /* Explicit color for visibility */
  margin-right: 8px; /* Adds spacing between chevron and title */
  transition: transform 0.2s ease;
}

details[open] .chevron {
  transform: rotate(90deg);
}

.bg-primary-light-hover {
  background-color: #e0e0e0; /* Adjust to your preferred light mode hover color */
}

.dark .bg-primary-dark-hover {
  background-color: #333333; /* Adjust to your preferred dark mode hover color */
}


